
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body{
    font-family: "Bebas Neue", sans-serif;
    color:#444;
    background-color: #f5f5f5;
    margin: 50px;
}

.menuSuperior{

    background-color: #FFF;

    /* ESPAÇAMENTOS */
    margin: 20px 0px; /*Espaçamento por fora*/
    padding: 50px; /* Espaço por dentro */
    border-radius: 20px;
    box-shadow: 1px 2px 20px #444;

}

.menuSuperiorbotao{

    background-color: #007BFF;
    color:#FFF; 
    text-decoration: none;
    padding: 10px 20px ;
    border-radius: 8px; 
    margin: 10px;

}

.menuSuperiorbotao:hover{

     background-color: #022142;
     transition: 0.3s;
     
    }

    .card{
        background-color: #FFF;
        width: 300Px;
        text-align: center;
        border-radius: 30PX;
        box-shadow: 1px 2px 20px #eea5a5;
        

    }

    .cardBotao{

        background-color: #28A745;
        color: white;
        border: none;
        width: 200px;;
        margin: 0;

        
    }